
@mixin display-center{
    display: flex;
    justify-content: center;
}

@mixin p{
    height: 4.5rem;
    border-radius: 1rem;
    padding-left: 7rem;
    padding-right: 3rem;
    font-size:1.3rem ;
    font-weight: bold;
    background-color:lighten($colour-primary, 35%);
    box-shadow: 0em  0em 0.5em 0em darken($colour-fifth, 20%);
    border:#fff;
}
@mixin number{
    border-radius: 1rem;
    background-color: $colour-primary;
    color: #FFF;
    padding: 0.7rem;
    width:0.4rem;
    border-radius:2rem;
    height: 0.4rem;
    font-size: 1rem;
    margin-top: 1.5rem;
   position: absolute;
    margin-right:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}
@mixin icon{
    font-size: 1.5rem;
       color:rgb(144, 139, 139);
       position: absolute;
       margin-right: 75%;
       margin-top: 1.5rem;
}
@mixin icon-hover{
    color:$colour-primary;
    box-shadow: none;
}

@mixin footer{
    background-color:rgb(52, 50, 50);
    margin-top: 1rem;
    padding-bottom: 3rem;
    h2{
       font-family: Shrikhand;
       width:5rem;
       color:white;
       padding-top: 2rem;
       font-weight: 400;
       padding-left: 3rem;
    }
    ul{
       color:white;
       padding-left: 3rem;
    }
    li{
       list-style: none;
       padding-top: 2%;
    }
    a{
       text-decoration: none;
       color:white
    }
    .fa-solid {
     padding-right: 2%;
    }
    .fa-handshake-angle{
        font-size: 0.8rem;
       }
  }
  
 /*faire une mixin du mode deskopt*/




     