@import "./scss/_variables";
@import "./scss/_mixins";
@import "./scss/_placeholders";


    body{
        font-family: 'Roboto', sans-serif;
        
    }
    /*stylons le header de la page d'accueil*/
 /*stylons le header de la page d'accueil*/

/*stylons le mode mobile*/
@media screen and (max-width: 767px){

   body{
       font-family: 'Roboto', sans-serif;
       
   }
   /*stylons le header de la page d'accueil*/
/*stylons le header de la page d'accueil*/
   .header {font-family: 'shrikhand', sans-serif;
       &__logo{
          @include display-center;
          
            img{
               height: 2.5rem; 
           }
       }
       &__town{
           @include display-center;
           margin-top: 1rem;
           background-color: $colour-quaternaire;
           border:0.55rem 0 0.55rem 0 $colour-quaternaire;
           font-weight:bold;
           color:rgb(58, 56, 56);
           box-shadow:0 -0.1rem  0  rgb(204, 199, 199);
           &--icon{
           margin-right: 1rem;
          
           }
           p{
              font-size: 1.2rem;
           }
       }
}
/* stylons le resumé de l'en-tête */
.abstract{
   @include display-center;
   flex-direction: column;
   background-color:lighten($colour-primary, 38%);
   flex-wrap: wrap;
   padding-top:2rem ;
   
   h1{
       font-size: 1.7rem;  
       @include display-center;
       flex-wrap: wrap;
       align-items: center;
   }
   h2{
       @include display-center;
       align-items: center;
       font-size: 1.5rem; 
       color:rgb(93, 91, 91);
       font-weight: lighter;
       margin-bottom: 3rem;
       
   }
   button{
       @include display-center;
       align-items: center;
       font-size: 1.3rem; 
       color:#fff;
       font-weight: lighter;
       background-image: linear-gradient(to bottom,$colour-secondary, $colour-primary);
       border-radius: 5rem;
       border:#FF79DA ;
       box-shadow: 0em  0em 0.5em 0em lighten($colour-fifth, 10%);
       width: 17rem;
       height: 4rem;
       margin-left: 6rem;
       margin-bottom: 3rem; 
       transition: transform(300ms); 
   }
  
}
.abstract button:hover{
  transform: scale(1.02);
  background-image: linear-gradient(to bottom,$colour-secondary 35%, $colour-primary);
} 
/*stylons le fonctionnement*/ 
.function{
  
   h1{
      font-size:1.7rem; 
      padding-left: 4%;
      margin-top: 10%; 
      margin-bottom: 5%;
   }
   &__search{
       @include display-center;
       position: relative;
       margin: 2rem;
       :hover{
           background-color: lighten($colour-primary, 35%);
           box-shadow: 0em  0em 0.5em 0em darken($colour-fifth, 50%);
       }
       
    input {
     height: 4.5rem;
     border-radius: 1rem;
     padding-left: 5rem;
     padding-right: 3rem;
     font-size:1.3rem ;
     font-weight: bold;
     background-color:lighten($colour-primary, 38%);
     box-shadow: 0em  0em 0.5em 0em darken($colour-fifth, 20%);
     border:#fff;
    }
    .fa-mobile-screen-button {
     @include icon;
    }
    .fa-mobile-screen-button:hover{
     @include icon-hover;
    }  
    
    .fa-1{
     @include number; 
       
    }
    .fa-2{
       @include number;
    }
    
    .fa-list-ul{
       @include icon;
    }
    .fa-list-ul:hover{
     @include icon-hover;
     }
    .fa-store{
       @include icon;
    }
    .fa-store:hover{
     @include icon-hover;
     }
    .fa-3{
       @include number;
    }
   }

}
/*stylons les Restaurants*/
.restaurant{
  padding-bottom: 4%;
   background-color:lighten($colour-primary, 38%);
   
   h1{
       font-size:1.7rem; 
      padding-left: 9%;
      padding-top: 10%; 
      margin-bottom: 7%;
      
   }
   &__new{
       border-radius: 1rem;
       box-shadow:0.2rem 0.2rem 0.2rem rgb(235, 232, 232);
       width: 25rem;     
       margin-left: 12%;
       padding: 2px;
       position: relative;
       margin-bottom:5%;
       
       img{
           width: 25rem;
          height: 13rem;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          justify-content: center;
          object-fit: cover;  
       }
       input{
        background-color: $colour-tertiaire;
        color:darken($colour-tertiaire, 50%);
        width: 4rem;
        border: $colour-tertiaire;
        font-weight: bold;
        height: 1.7rem;
        position: absolute;
        margin-left: 75%;
        margin-top: 5%;
       }
       &--A{
          display: flex;
          justify-content: space-between;
          text-decoration: none;
         
          h4{
         color:gray;
          margin-left: 3%;
          }
          span{
           font-weight: bold;
           color: black;
          }
          .fa-regular {
           width: 3rem;
           font-size: 1.7rem;
           margin-top: 1.5rem;
          color:rgb(57, 54, 54);
          margin-left: 12rem;
          }

          .fa-solid {
           width: 3rem;
           font-size: 1.7rem;
          background-clip: text;
          -webkit-background-clip: text;
          position: absolute;
          margin-left: 87%;
          margin-top: 6%;
          opacity: 0;
              
          }
          .fa-solid:hover{
           width: 3rem;
           font-size: 1.7rem;
           opacity: 1;
           background: -webkit-linear-gradient($colour-primary, $colour-secondary);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;       
          }       
          
       }
       a{
        text-decoration:none;
        
       }
   }
}
footer{
  background-color:rgb(52, 50, 50);
  margin-top: 15%;
  padding-bottom: 7%;
  h2{
     font-family: Shrikhand;
     width:5rem;
     color:white;
     padding-top: 2rem;
     font-weight: 400;
     padding-left: 14%;
  }
  ul{
     color:white;
     padding-left: 14%;
   }
  li{
     list-style: none;
     padding-top: 2%;
  }
  a{
     text-decoration: none;
     color:white
  }
  .fa-solid {
   padding-right: 2%;
  }
}
}


 